<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class=" main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="images/404.png" alt="rahul" title="rahulrangi" class="img-fluid">
                    </figure>
                    <p>Welcome to WeatherCheck</p>
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button>Go to Home</button></a>
                </div>
            </div>

        </div>
    </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by Vivek Mittal
        </p>
    </footer>
</body>

</html>